<a href="https://colab.research.google.com/github/Samwel-93/Electric_Car_Usage_Project_WK4_IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2022_04_Samwel_Omondi_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA ANALYSIS FOR AN ELECTRIC CAR-SHARING COMPANY**

## **Overview**
We have been tasked to process stations data to understand electric car usage over time.
## **Project Dataset**
The dataset for this project is here [Dataset_Link](http://bit.ly/autolib_dataset). This dataset contains data collected for a period of 9 days in the moonth of April 2018. 

## **Research Question**
To identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.



**Other questions for further analysis**

1. What is the most popular hour for returning cars?
2. What station is the most popular?
  
  a) Overall?
  
  b) At the most popular picking hour?
3. What postal code is the most popular for picking up Blue cars? 
4. Does the most popular station belong to that postal code?
  
  a) Overall?

  b) At the most popular picking hour?
5. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

## 1.0 IMPORT THE LIBRARIES TO BE USED IN THE ANALYSIS

In [1]:
# We begin by importing the pandas library 
import pandas as pd
# as well as numpy library
import numpy as np

## 1.1 LOADING OUR DATASET

In [2]:
# Let's read the data from the CSV file
#
e_car = pd.read_csv('/content/Autolib_dataset (2).csv')

## 1.2 PREVIEWING OUR DATASET

In [46]:
# Let is preview the first 10 elements of our dataset
# 
e_car.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,2018,4,8,17,23

In [4]:
# Let is preview the last 10 elements of our dataset
#
e_car.tail(10)

,Address,Cars,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,Displayed comment,ID,...,Scheduled at,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
4990,47 boulevard de l'HÃ´pital,0,0,0,0,0,operational,Paris,NaN,paris-hopital-47,...,NaN,4,station,ok,nonexistent,2018,4,3,21,13
4991,56 avenue du MarÃ©chal de Lattre de Tassigny,5,5,0,0,0,nonexistent,CrÃ©teil,NaN,creteil-marechaldelattredetassigny-56,...,NaN,1,station,ok,nonexistent,2018,4,7,20,43
4992,3 avenue d'Ivry,0,0,0,0,2,operational,Paris,NaN,paris-ivry-3,...,NaN,6,station,ok,nonexistent,2018,4,9,23,1
4993,6 avenue Charles-de-Gaulle,6,6,0,0,0,nonexistent,Le Plessis-Robinson,NaN,leplessisrobinson-charlesdegaulle-6,...,NaN,0,station,ok,nonexistent,2018,4,2,4,43
4994,15 rue de Rocroy,0,0,0,0,0,operational,Paris,NaN,paris-rocroy-15,...,NaN,1,station,ok,nonexistent,2018,4,1,20,49
4995,8 avenue MÃ©nelotte,2,2,0,0,0,nonexistent,Colombes,NaN,colombes-menelotte-8,...,NaN,3,station,ok,nonexistent,2018,4,6,11,26
4996,37 rue de Dantzig,4,4,0,0,1,operational,Paris,NaN,paris-dantzig-37,...,NaN,2,station,ok,nonexistent,2018,4,4,16,56
4997,142 rue du Bac,1,1,0,0,1,operational,Paris,NaN,paris-bac-142,...,NaN,4,station,ok,nonexistent,2018,4,1,7,1
4998,2 avenue du Val de Fontenay,2,2,0,0,0,nonexistent,Fontenay-Sous-Bois,NaN,fontenaysousbois-valdefontenay-2,...,NaN,3,station,ok,nonexistent,2018,4,4,17,27
4999,5 Rue Henry Brisson,4,4,0,0,0,operational,Paris,NaN,paris-henrybrisson-5,...,NaN,0,station,ok,nonexistent,2018,4,8,10,2

## 1.3 EXPLORING INFORMATION ABOUT OUR DATASET

In [5]:
# Getting to know more about the dataset by accessing its detailed information
#
e_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [6]:
# Checking for missing values in our dataset
#
e_car.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [7]:
# Let us now obtain the dimensions of the dataframe
#
e_car.shape

(5000, 25)

In [8]:
# Confirming the type of dataset we are working with
type(e_car)

pandas.core.frame.DataFrame

## 1.4 CLEANING OUR DATASET

###Data Validity

In [9]:
# Checking for irrelevant observations 
# We then drop the irrelevant columns which will not need in the the analysis of the data

e_car.drop(['Address','Cars','Public name','Displayed comment','Scheduled at'], axis = 1, inplace = True)

In [10]:
#print e_car
e_car.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,2018,4,8,17,23

###Data Accuracy

In [11]:
# We will not conduct any procedure to test accuracy of our dataset

### Data Completeness

In [12]:
e_car.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
ID                     False
Kind                   False
Geo point              False
Postal code            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [13]:
# Checking for missing values in our dataset
#
e_car.isnull().sum()

Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [14]:
e_car.isnull().sum().sum()

0

### Data Consistency

In [15]:
# Find duplicates in the dataframe
#
e_car[e_car.duplicated()]
e_car

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,2018,4,8,17,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2,0,0,0,nonexistent,Colombes,colombes-menelotte-8,STATION,"48.9246525, 2.259313",92700,operational,3,station,ok,nonexistent,2018,4,6,11,26
4996,4,0,0,1,operational,Paris,paris-dantzig-37,STATION,"48.8335103, 2.2987201",75015,operational,2,station,ok,nonexistent,2018,4,4,16,56
4997,1,0,0,1,operational,Paris,paris-bac-142,STATION,"48.8508194, 2.3237968",75007,operational,4,station,ok,nonexistent,2018,4,1,7,1
4998,2,0,0,0,nonexistent,Fontenay-Sous-Bois,fontenaysousbois-valdefontenay-2,STATION,"48.8528247, 2.4869085",94120,operational,3,station,ok,nonexistent,2018,4,4,17,27
4999,4,0,0,0,operational,Paris,paris-henrybrisson-5,STATION,"48.8984293, 2.3347923",75018,operational,0,station,ok,nonexistent,2018,4,8,10,2

### Data Uniformity

In [17]:
# export our dataframe into a csv file
#
e_car.to_csv('electric_cars_usage.csv')

In [18]:
#Load the exported dataframe
e_car2 = pd.read_csv('electric_cars_usage.csv')
e_car2.head()

,Unnamed: 0,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,...,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",...,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",...,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",...,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",...,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",...,operational,3,station,ok,nonexistent,2018,4,8,17,23

In [19]:
# Drop Unnamed: 0 column
e_car2.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [20]:
# Print updated dataframe
e_car2.head()

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,2018,4,8,17,23

In [21]:
# we begin by creating another copy of our dataset
#
e_car3 = e_car2
e_car3.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,year,month,day,hour,minute
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,2018,4,8,11,43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,2018,4,6,7,24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,2018,4,3,20,14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,2018,4,4,4,37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,2018,4,8,17,23

In [22]:
# create a date column by combining year, month, and day
#
e_car3['Date'] = e_car3["year"].map(str) + ':' + e_car3["month"].map(str) + ':' + e_car3["day"].map(str)
e_car3.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,...,Slots,Station type,Status,Subscription status,year,month,day,hour,minute,Date
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,...,2,station,ok,nonexistent,2018,4,8,11,43,2018:4:8
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,...,0,station,ok,nonexistent,2018,4,6,7,24,2018:4:6
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,...,1,station,ok,nonexistent,2018,4,3,20,14,2018:4:3
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,...,2,station,ok,nonexistent,2018,4,4,4,37,2018:4:4
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,...,3,station,ok,nonexistent,2018,4,8,17,23,2018:4:8

In [23]:
# Create a time column by combining hour and minute columns
#
e_car3['Time'] = e_car3["hour"].map(str) + ':' + e_car3["minute"].map(str)
e_car3.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,...,Station type,Status,Subscription status,year,month,day,hour,minute,Date,Time
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,...,station,ok,nonexistent,2018,4,8,11,43,2018:4:8,11:43
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,...,station,ok,nonexistent,2018,4,6,7,24,2018:4:6,7:24
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,...,station,ok,nonexistent,2018,4,3,20,14,2018:4:3,20:14
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,...,station,ok,nonexistent,2018,4,4,4,37,2018:4:4,4:37
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,...,station,ok,nonexistent,2018,4,8,17,23,2018:4:8,17:23

In [24]:
# Add a seconds column to inorder to have a complete time 
#
secs = [0]*5000
e_car3['Seconds'] = secs
e_car3.head(4)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,...,Status,Subscription status,year,month,day,hour,minute,Date,Time,Seconds
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,...,ok,nonexistent,2018,4,8,11,43,2018:4:8,11:43,0
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,...,ok,nonexistent,2018,4,6,7,24,2018:4:6,7:24,0
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,...,ok,nonexistent,2018,4,3,20,14,2018:4:3,20:14,0
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,...,ok,nonexistent,2018,4,4,4,37,2018:4:4,4:37,0

In [25]:
# Create a complete date_time column by combining Date and Time columns
#
e_car3['Date_Time'] = e_car3["Date"].map(str) + ':' + e_car3["Time"].map(str)+ ':' + e_car3["Seconds"].map(str)
e_car3.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,...,Subscription status,year,month,day,hour,minute,Date,Time,Seconds,Date_Time
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,...,nonexistent,2018,4,8,11,43,2018:4:8,11:43,0,2018:4:8:11:43:0
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,...,nonexistent,2018,4,6,7,24,2018:4:6,7:24,0,2018:4:6:7:24:0
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,...,nonexistent,2018,4,3,20,14,2018:4:3,20:14,0,2018:4:3:20:14:0
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,...,nonexistent,2018,4,4,4,37,2018:4:4,4:37,0,2018:4:4:4:37:0
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,...,nonexistent,2018,4,8,17,23,2018:4:8,17:23,0,2018:4:8:17:23:0

In [29]:
# let us now change date_time data type to datetime format
from datetime import datetime
e_car3['Date_Time'] = pd.to_datetime(e_car3['Date_Time'] , format='%Y:%m:%d:%H:%M:%S', errors = 'coerce')
e_car3.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,...,Subscription status,year,month,day,hour,minute,Date,Time,Seconds,Date_Time
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,...,nonexistent,2018,4,8,11,43,2018:4:8,11:43,0,2018-04-08 11:43:00
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,...,nonexistent,2018,4,6,7,24,2018:4:6,7:24,0,2018-04-06 07:24:00
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,...,nonexistent,2018,4,3,20,14,2018:4:3,20:14,0,2018-04-03 20:14:00
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,...,nonexistent,2018,4,4,4,37,2018:4:4,4:37,0,2018-04-04 04:37:00
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,...,nonexistent,2018,4,8,17,23,2018:4:8,17:23,0,2018-04-08 17:23:00

In [32]:
# Let us drop year, month, day, minute date, time, and seconds columns
#
e_car4 = e_car3.drop(['year', 'month', 'day', 'minute', 'Date','Time','Seconds'] , axis=1)
e_car4.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,hour,Date_Time
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,11,2018-04-08 11:43:00
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,7,2018-04-06 07:24:00
2,3,0,2,0,operational,Le Bourget,lebourget-johnfitzgeraldkennedy-2,STATION,"48.938103, 2.4286035",93350,operational,1,station,ok,nonexistent,20,2018-04-03 20:14:00
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,4,2018-04-04 04:37:00
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,17,2018-04-08 17:23:00

## 1.5 Answering the Research Question
Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

**HINT:**

To compute usage, 

we will need to understand that we have to join successive (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

In [33]:
# electric car services in Paris only
#
e_car_paris = e_car4[e_car4['City'] =='Paris']

In [34]:
#print entries in Paris only
e_car_paris.head(5)

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Charging Status,City,ID,Kind,Geo point,Postal code,Rental status,Slots,Station type,Status,Subscription status,hour,Date_Time
0,0,0,0,0,nonexistent,Paris,paris-suffren-2,STATION,"48.857, 2.2917",75015,operational,2,station,ok,nonexistent,11,2018-04-08 11:43:00
1,6,0,0,0,operational,Paris,paris-raymondlosserand-145,STATION,"48.83126, 2.313088",75014,operational,0,station,ok,nonexistent,7,2018-04-06 07:24:00
3,3,1,0,1,operational,Paris,paris-eugeneoudine-51,STATION,"48.8250327, 2.3725162",75013,operational,2,station,ok,nonexistent,4,2018-04-04 04:37:00
4,3,0,0,0,nonexistent,Paris,paris-portedechamperret-6,PARKING,"48.8862632, 2.2874511",75017,operational,3,station,ok,nonexistent,17,2018-04-08 17:23:00
5,0,0,0,0,nonexistent,Paris,paris-voltaire-8,STATION,"48.8657658, 2.3664376",75011,operational,4,station,ok,nonexistent,7,2018-04-06 07:02:00

In [35]:
# group dataset by ID, date_time and hour
#
e_car_paris2 = e_car_paris.groupby(['ID','Date_Time', 'hour']).sum()
e_car_paris2.head(10)

                                             Bluecar counter  Utilib counter  \
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18                  1               0
                   2018-04-02 07:37:00 7                   4               0
                   2018-04-02 12:49:00 12                  2               0
                   2018-04-04 03:10:00 3                   3               0
                   2018-04-04 18:48:00 18                  1               0
                   2018-04-07 21:18:00 21                  1               0
                   2018-04-09 05:23:00 5                   0               0
                   2018-04-09 20:53:00 20                  1               0
paris-adolphemax-6 2018-04-02 11:01:00 11                  4               0
                   2018-04-07 16:47:00 16                  0               0

                                             Utilib 1.4 counter  Charge Slots  \
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18                     0             0
                   2018-04-02 07:37:00 7                      0             0
                   2018-04-02 12:49:00 12                     0             0
                   2018-04-04 03:10:00 3                      0             0
                   2018-04-04 18:48:00 18                     0             0
                   2018-04-07 21:18:00 21                     1             0
                   2018-04-09 05:23:00 5                      0             0
                   2018-04-09 20:53:00 20                     1             0
paris-adolphemax-6 2018-04-02 11:01:00 11                     0             0
                   2018-04-07 16:47:00 16                     0             0

                                             Postal code  Slots
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18          75014      2
                   2018-04-02 07:37:00 7           75014      0
                   2018-04-02 12:49:00 12          75014      1
                   2018-04-04 03:10:00 3           75014      0
                   2018-04-04 18:48:00 18          75014      1
                   2018-04-07 21:18:00 21          75014      1
                   2018-04-09 05:23:00 5           75014      3
                   2018-04-09 20:53:00 20          75014      1
paris-adolphemax-6 2018-04-02 11:01:00 11          75009      0
                   2018-04-07 16:47:00 16          75009      3

In [37]:
# Summary of e_car_paris2 dataframe
e_car_paris2.describe(include='all')

,Bluecar counter,Utilib counter,Utilib 1.4 counter,Charge Slots,Postal code,Slots
count,2816.000000,2816.000000,2816.000000,2816.000000,2816.000000,2816.000000
mean,1.827060,0.052557,0.114702,0.436435,75012.802557,2.148438
std,1.847544,0.235576,0.351577,0.662795,8.124874,1.941777
min,0.000000,0.000000,0.000000,0.000000,75001.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,75008.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,75013.000000,2.000000
75%,3.000000,0.000000,0.000000,1.000000,75016.000000,4.000000
max,7.000000,2.000000,3.000000,2.000000,75116.000000,7.000000

In [39]:
# We find the max absolute difference 
#
e_car_paris2['Bluecar_diff'] = e_car_paris2['Bluecar counter'].diff()
e_car_paris2.head(5)

                                             Bluecar counter  Utilib counter  \
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18                  1               0
                   2018-04-02 07:37:00 7                   4               0
                   2018-04-02 12:49:00 12                  2               0
                   2018-04-04 03:10:00 3                   3               0
                   2018-04-04 18:48:00 18                  1               0

                                             Utilib 1.4 counter  Charge Slots  \
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18                     0             0
                   2018-04-02 07:37:00 7                      0             0
                   2018-04-02 12:49:00 12                     0             0
                   2018-04-04 03:10:00 3                      0             0
                   2018-04-04 18:48:00 18                     0             0

                                             Postal code  Slots  Bluecar_diff
ID                 Date_Time           hour
paris-25aout1944-8 2018-04-01 18:40:00 18          75014      2           NaN
                   2018-04-02 07:37:00 7           75014      0           3.0
                   2018-04-02 12:49:00 12          75014      1          -2.0
                   2018-04-04 03:10:00 3           75014      0           1.0
                   2018-04-04 18:48:00 18          75014      1          -2.0

In [42]:
#Let us sort Bluecar_diff column to obtain positive values. 
# Positive values indicate that the car was picked
#
e_car_paris2 = e_car_paris2[e_car_paris2['Bluecar_diff'] > 0]
e_car_paris2.head(5)

                                               Bluecar counter  \
ID                   Date_Time           hour
paris-25aout1944-8   2018-04-02 07:37:00 7                   4
                     2018-04-04 03:10:00 3                   3
                     2018-04-09 20:53:00 20                  1
paris-adolphemax-6   2018-04-02 11:01:00 11                  4
paris-adolphemille-8 2018-04-01 01:53:00 1                   1

                                               Utilib counter  \
ID                   Date_Time           hour
paris-25aout1944-8   2018-04-02 07:37:00 7                  0
                     2018-04-04 03:10:00 3                  0
                     2018-04-09 20:53:00 20                 0
paris-adolphemax-6   2018-04-02 11:01:00 11                 0
paris-adolphemille-8 2018-04-01 01:53:00 1                  0

                                               Utilib 1.4 counter  \
ID                   Date_Time           hour
paris-25aout1944-8   2018-04-02 07:37:00 7                      0
                     2018-04-04 03:10:00 3                      0
                     2018-04-09 20:53:00 20                     1
paris-adolphemax-6   2018-04-02 11:01:00 11                     0
paris-adolphemille-8 2018-04-01 01:53:00 1                      0

                                               Charge Slots  Postal code  \
ID                   Date_Time           hour
paris-25aout1944-8   2018-04-02 07:37:00 7                0        75014
                     2018-04-04 03:10:00 3                0        75014
                     2018-04-09 20:53:00 20               0        75014
paris-adolphemax-6   2018-04-02 11:01:00 11               0        75009
paris-adolphemille-8 2018-04-01 01:53:00 1                0        75019

                                               Slots  Bluecar_diff
ID                   Date_Time           hour
paris-25aout1944-8   2018-04-02 07:37:00 7         0           3.0
                     2018-04-04 03:10:00 3         0           1.0
                     2018-04-09 20:53:00 20        1           1.0
paris-adolphemax-6   2018-04-02 11:01:00 11        0           3.0
paris-adolphemille-8 2018-04-01 01:53:00 1         1           1.0

In [45]:
# Let us sort Bluecar_diff column to obtain positive values. 
e_car_paris2.groupby(['hour'])['Bluecar_diff'].sum().sort_values(ascending  = False)

hour
9     129.0
12    125.0
6     111.0
21    109.0
10    108.0
3     105.0
2      95.0
5      91.0
11     91.0
16     89.0
4      88.0
7      88.0
1      88.0
0      87.0
15     86.0
13     86.0
19     86.0
18     85.0
8      85.0
22     85.0
17     84.0
23     71.0
14     68.0
20     61.0
Name: Bluecar_diff, dtype: float64

## **1.6** **Note**
The most popular hour of the day for picking up shared electric car in Paris is **9.00 hours**.